.MyInsights {
    background-color: var(--primary-color);

    .header {
        padding: 2rem 0px;

        .title {
            text-align: center;

            h3 {
                font-size: var(--font-lg);

                span {
                    font-size: var(--font-md);
                }
            }
        }

        .flex {
            margin-top: 2rem;
            display: flex;
            gap: 42px;
            justify-content: center;
        }
    }

    .Info_and_Filter {
        margin: 0 auto;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(193 193 193);
        max-width: 600px;
        border-radius: 10px;
        // border-radius: calc(10px * 2.5);

        span {
            color: var(--star-color);
        }


        select {
            width: 100%;
            background-color: transparent;
            padding: 6px 0px;
            border: none;
            outline: none;
            color: var(--main-Bg);
            font-size: 14px;
            border-bottom: 1px solid #FFF;
            transition: border-color .3s ease-in-out;
            background-color: rgb(245, 245, 220);
            padding: 3px 8px;
            border-radius: 4px;
            font-family: Oxygen;

            option {
                font-family: Oxygen;
            }

            &:focus-within {
                border-color: var(--star-color);
            }
        }
    }

    .latestInsights {
        margin: 34px 0px;

        .list {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            padding: 0px calc(var(--main-p-x) / 2);
        }
    }

    .centered {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}